canvas {

  
}
.img-rounded-border {
  border:10px solid red;
  border-radius:10px;
}

.App {
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  height: 100vh;
  background: linear-gradient(
    0deg,
    white,
    white
  );
}