canvas {

  box-shadow: black 20px 10px 50px;
}
.img-rounded-border {
  border:10px solid red;
  border-radius:10px;
}

.App {
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  height: 100vh;
  background: linear-gradient(
    0deg,
    rgb(86, 115, 145) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}